body {
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    margin: 10px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #EC008C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qrcode {
    margin-top: 20px;
}
